modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "next dev --turbo -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
CRON_SECRET = "v861etrbr5t6yb318sy8se9rb9t8zv6s51rb91btnu7j8"

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "start", "--", "-p", "5000"]
build = ["pnpm", "build"]
